.header {
  background: rgb(68, 111, 146);
  margin-top: 0px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}
.details {
  display: flex;
  gap: 20px;
}
.main {
  padding: 10px;
}
